* {
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("images/countdown.jpeg") no-repeat center center/cover;
    font-family: "Geist";
} 

.container{
    width: 500px;
    border-radius: 15px;
    background-color: rgba(206, 206, 206, 0.509);
    padding: 50px 70px 50px 70px;
}

#title-heading{
    font-size: 30px;
    margin-bottom: 50px;
    color:black;
    text-align: center;
}

.countdown-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number {
    font-size: 80px;
}